*{
    font-family: 'League Spartan', sans-serif;
}
  
input[type="file"] {
    display: none;
}
  
.contenido {
    margin-top: 30px;
    margin-left: 100px;
}
  
.titulo {
    margin-top: 25px;
    color: #002948;
}
  
.editarFeria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid #4F6E85;
    padding: 20px;
    width: 70%;
    margin-top: 20px;
    color: #002948;
}
  
.editarFeria input {
    font-size: 18px;
    width: 70%;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    margin-bottom: 20px;
  }

.editarFeria textarea{
    font-size: 18px;
    width: 70%;
    height: 40px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
    vertical-align: text-top;
  }
  
  .archivoProyecto{
      margin-bottom: 20px;
  }
  
  .archivoProyecto button{
      padding: 15px 30px;
      background-color: #D9D9D9;
      color: #002948;
      font-weight: bold;
      border-radius: 50px;
      cursor: pointer;
      border: none;
      margin-left: 20px;
      font-size: 15px
  }
  
  .integrante input, .area input{
    width: 30%;
    padding: 10px;
  }
  
  
.area button{
    padding: auto;
    background-color: #D9D9D9;
    color: #002948;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    padding: 10px 15px;
    margin-left: 50px;
    font-size: 15px;
}
  
  .nombreFeria label{
    margin-right: 30px;
  }
  
.descripcion label {
      margin-right: 0px;
}
  
.archivoProyecto label{
      margin-right: 40px;
}
  
.area img{
    width: 40px;
    vertical-align: middle;
}
  
.area label{
    margin-right: 140px;
}
  
.area button{
    margin-left: 200px;
}
  
.botones{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
  
.botones button{
  padding: 10px 20px;
  background-color: #002948;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}