* {
    font-family: 'League Spartan', sans-serif;
  }
  
input[type="file"] {
    display: none;
}

.contenido {
    margin-top: 30px;
    margin-left: 100px;
}

.titulo {
    margin-top: 25px;
    color: #002948;
  }

.crearVersionFeria {
    border: 3px solid #4F6E85;
    padding: 20px;
    width: 70%;
    margin-top: 20px;
    color: #002948;
}

.grid-group{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.grid-group label{
    margin-right: 5px;
}

.version label{
    margin-right: 170px;
}

.fechaInicio label{
    margin-right: 115px;
}

.fechaFin label{
    margin-right: 145px;
}

.grid-group input {
    font-size: 18px;
    width: 40%;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    margin-bottom: 20px;
}

.flex-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
}

.formatoProyecto label{
    margin-right: 52px;
}

.rubrica label{
    margin-right: 40px;
}

.auspiciador label{
    margin-right: 135px;
}


.formatoProyecto button, .rubrica button{
    padding: 15px 30px;
    background-color: #D9D9D9;
    color: #002948;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    font-size: 15px
  }

.auspiciador input{
    width: 30%;
    padding: 10px;
    font-size: 18px;
}

.auspiciador img{
    width: 40px;
    vertical-align: middle;
  }

.auspiciador input{
    font-size: 18px;
    width: 40%;
    background: #D9D9D9;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    margin-bottom: 20px;
}

.auspiciador button{
    padding: auto;
    background-color: #D9D9D9;
    color: #002948;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    margin-left: 21%;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 15px;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
        
.botones button{
    padding: 10px 20px;
    background-color: #002948;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}