/*Estilos para el menu y navbar*/

body{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
    font-size: larger;
}

.cuerpo{
    width: 230px;
    align-items: left;
}

.navegacion{
    background-color: #4F6E85;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px;
    align-items: center;
}

.navegacion-index-2{
    background-color: #4F6E85;
    height: 35px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px;
    align-items: center;
    color: white;
}

.barra{
    align-items: center;
}

.barra a{
    padding-left: 15px;
}

.item-derecho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-derecho a{
    padding-left: 60px;
}

.imagen-exit{
    height: 30px;
    width: auto;
}

.menu{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border-right-color: #4F6E85;
    border-right-width: 2px;
    border-right-style: solid;
}

.imagen-user{
    width: 40px;
    height: auto;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;
    width: 208px;
}

.datos-user{
    display: flex;
    flex-direction: column;
}

.datos-user a{
    padding-left: 10px;
}

.lista-principal{
    padding-left: 15px;
    padding-top: 15px;
    list-style: none;
    margin: 0;
}

.r-user{
    font-size: smaller;
}

.lista-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.lista-secundaria{
    list-style: none;
    padding-left: 26px;
}

.imagen-item{
    height: 23px;
    width: auto;
}

.elemento-2{
    font-size: medium;
    padding: 6px 0;
}

.titulo-elemento-1{
    padding-left: 6px;
    align-items: center;
}
