.no-ferias-creadas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.texto-buscar {
    background-color: #D9D9D9;
    border: none;
    height: 25px;
    font-size: 18px;
    width: 92%;
    border-radius: 30px;
    letter-spacing: 1.5px;
}

.buscador{
    display: flex;
    padding: 3px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 35px;
}

.busqueda {
    display: flex;
    padding: 3px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    width: 50%;
    border-radius: 35px;
}
.imagen-lupa img {
    height: 25px;
    width: auto;
}

.imagen-lupa{
    background-color: #4F6E85;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;
}