*{
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan';
}
.titulo {
  margin-top: 50px;
  margin-left: 40px;
  color: #002948;
}

.contenedorCua {
  width: 80%;
  /* Ancho deseado del contenedor */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  padding: 20px;
  /* Añade espacio alrededor del contenedor */
}

.cuadro {
  background-color: rgb(148, 167, 182, 0.41);
  color: #002948;
  padding: 20px;
  /* Espacio interno */
  border-radius: 10px;
  /* Bordes redondeados */
  display: flex;
  /* Para alinear los elementos internos */
  align-items: center;
  /* Alinea verticalmente */
  margin-top: 50px;
}

.h2 {
  font-weight: bold;
}

.cuadro p {
  margin-right: auto;
  /* Empuja el texto a la izquierda */

}

.cuadro h2 {
  margin-right: auto;

}

.cuadro img {
  margin-left: 10px;
  /* Espacio a la izquierda de la imagen */
  width: 150px;
  height: 150px;
  margin: 0 auto 5px;
}

.cuadro button {
  margin-left: 10px;
  /* Espacio entre la imagen y los botones */
  border-top: 20px;
  border-bottom: 20px;
}

.botones {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
}

.editar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.eliminar {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cerrar {
  margin-top: 5px;
  margin-bottom: 5px;
}

.editar,
.eliminar,.cerrar {
  padding: 10px 35px;
  /* Espacio interno de los botones */
  border: none;
  /* Sin borde */
  border-radius: 20px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Cambia el cursor al pasar sobre ellos */
  color: rgb(255, 255, 255);
  background-color: #002948;

}
.CrearEvento button{
  padding: 10px 35px;
  color: rgb(255, 255, 255);
  background-color: #002948;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}
.CrearEvento {
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: 999;
}