.contenido {

  border-bottom: 1px solid #002948;
  margin-top: 30px;
  margin-left: 60px;
}

.titulo {
  margin-top: 25px;
  color: #002948;
}

.pasados {
  margin-top: 50px;
  color: #002948;
  margin-left: 30px;
}

.actuales {
  margin-top: 50px;
  color: #002948;
  margin-left: 30px;
}

.linea {
  border-bottom: 1.5px solid #a0a0a0;
  width: 90%;
  margin: 0;
  /* bdosrcdmer: 60px;   */
}

.cua {
  font-weight: bold;
  color: #002948;
  display: flex;
  align-items: center;
}

.cuadro {
  background-color: rgb(148, 167, 182, 0.41);
  border: 2px solid #94A7B6;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 5px;
}

.txt {

  text-align: left;
  margin-left: 10px;
}
.calificacion {
  display:flex;
  align-items: center;
}
.botones {
  display:flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.eliminar,
.editar, .verProyecto {
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.eliminar {
  color: rgb(255, 255, 255);
  margin: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #002948;
}
.editar {
  color: rgb(255, 255, 255);
  margin: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #002948;
}
.verProyecto {
  color: rgb(255, 255, 255);
  margin: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #002948;
}
