<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de ferias</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/catalogoFerias.css" />
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="contenido">
            <div class="info-contenido">
                <h2 class="titulo">Ferias disponibles</h2>
                <h3 class="aviso">No hay ferias disponibles</h3>
                <div class="si-hay-proyectos">
                    <div class="buscador">
                        <div class="busqueda">
                            <input class="texto-buscar" type="text">
                        </div>
                        <div class="imagen-lupa">
                            <img src="../img/search_47686.png" alt="">
                        </div>
                    </div>
                    <div class="ferias">
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <div class="rectangulo" data-feria="1">
                            <div class="textos">
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                                <table class="informacion">
                                    <tr>
                                        <td>Fecha inicio:</td>
                                        <td class="fecha-inicio">10/0111/11000</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Final:</td>
                                        <td class="fecha-final">10/0111/11000</td>
                                    </tr>
                                    <tr class="fecha-limi">
                                        <td>Fecha Limite:</td>
                                        <td class="fecha-limite">100/1010/1000</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="photo">
                                <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                            </div>
                            <div class="boton">
                                Ver feria
                            </div>
                        </div>
                        <!-- Agregar más divs de feria aquí -->
                    </div>
                    <div class="paginacion">
                        <button id="firstPage" class="page-btn"><<</button>
                        <button id="prevPage" class="page-btn"><</button>
                        <span id="pageNumbers" class="page-numbers"></span>
                        <button id="nextPage" class="page-btn">></button>
                        <button id="lastPage" class="page-btn">>></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/menuInclude.js"></script>
    <script src="../js/pagination.js"></script>
</body>
</html>
