<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Versión del Evento</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" href="../css/styleEvento.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="contenido">
            <h2 class="titulo">Crear Versión del Evento</h2>
            <div class="crearVersion">
                <div class="inputGroup">
                    <label for="versionEvento">Versión del Evento:</label>
                    <input class="version" type="text" id="versionEvento" name="versionEvento"  required>
                </div>
                <div class="inputGroup">
                    <label for="tipoEvento">Tipo de Evento:</label>
                    <input class="tipo" type="text" id="tipoEvento" name="tipoEvento" required>
                </div>
                <div class="inputGroup">
                    <label for="fechaInicio">Fecha de Inicio:</label>
                    <input class="fechaInput" type="date" id="fechaInicio" name="fechaInicio" required>
                    <label for="fechaFin">Fecha de Fin:</label>
                    <input class="fechaInput" type="date" id="fechaFin" name="fechaFin" required>
                </div>
                <div class="inputGroup">
                    <label for="fechaCierre">Fecha Cierre de Inscripciones:</label>
                    <input class="fechaInput" type="date" id="fechaCierre" name="fechaCierre" required>
                </div>
                <div class="inputGroup">
                    <label for="rubrica">Rúbrica de Calificación:</label>
                    <button class="btnRubrica" id="crearRubrica">Crear Rúbrica</button>
                </div>
                <div class="inputGroup">
                    <label for="correoPermitido">Correos Permitidos:</label>
                    <input class="correo" type="text" id="correoPermitido" name="correoPermitido" required>
                </div>
                <div class="inputGroup">
                    <label for="formatoProyecto">Formato del Proyecto:</label>
                    <input type="file" id="formatoProyecto" name="formatoProyecto" accept=".pdf,.doc,.docx">
                    <button class="examinar" id="examinarFormato">Examinar</button>
                </div>
            </div>
            <div class="botones">
                <button id="cancelarBtn">Cancelar</button>
                <button id="guardarBtn">Guardar</button>
            </div>
        </div>
    </div>
    <script src="../js/menuInclude.js"></script>
</body>
</html>