<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear eventos</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link
      href="https://fonts.googleapis.com/css?family=League Spartan"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styleRubrica.css" />
    <link rel="stylesheet" href="../css/estilos.css" />
  </head>
  <body>
    <div class="contenedor">
      <iframe class="header" src="../views/navbar.html"></iframe>
      <iframe class="menu" src="../views/menu.html"></iframe>
      <div class="contenido">
        <h2 class="titulo">Crear Rúbrica</h2>
        <div class = "rubrica">
          <div class="itemRubrica">
            <div class="elemento">
              <label for="descPregunta">Item:</label>
              <input class="entrada" type="text" id="descPregunta" name="descPregunta" placeholder="Ingrese la pregunta/descripción de  este item" required/>
            </div>  
            <div class="elemento">
              <label for="valorPregunta">Valor:</label>
              <input class="valor" type="number" min="0" max="100" id="valorPregunta" name="valorPregunta" placeholder="Ingrese el valor de este item" required/>
            </div>
          </div> 
          <div class="itemRubrica">
            <div class="elemento">
              <label for="descPregunta">Item:</label>
              <input class="entrada" type="text" id="descPregunta" name="descPregunta" placeholder="Ingrese la pregunta/descripción de  este item" required/>
            </div>  
            <div class="elemento">
              <label for="valorPregunta">Valor:</label>
              <input class="entrada" type="number" min="0" max="100" id="valorPregunta" name="valorPregunta" placeholder="Ingrese el valor de este item" required/>
            </div>
          </div>   
          <div class = "buttonAgregar">
            <button id="agregarBtn">Agregar Item</button>
          </div>
        </div>
        <div class="botones">
          <button id="cancelarBtn">Cancelar</button>
          <button id="guardarBtn">Guardar</button>
        </div>
      </div>
    </div>
    <script src="../js/menu.js"></script>
  </body>
</html>
