<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver eventos</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/EventosCreados.css" />
</head>
<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <h2 class="titulo">Eventos Creados</h2>
        <div class="inputGroup">
            <input class="version" type="text" id="versionEvento" name="versionEvento"  required>
        </div>


        





    </div>
</body>
</html>