<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferias finalizadas</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/feriasIncritas.css" />
    <link rel="stylesheet" href="../css/soyJurado.css" />
</head>
<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2 class="titulo">Ferias finalizadas</h2>
            <div class="noFerias">
                <h3 class="no-ferias-creadas">No se han creado ferias.
            </div>
            <div class="ferias-creadas">
                <div class="buscador">
                    <div class="busqueda">
                        <input class="texto-buscar" type="text">
                    </div>
                    <div class="imagen-lupa">
                        <img src="../img/search_47686.png" alt="">
                    </div>
                </div>

                <div class="pote1">
                    <div class="rectangulo">
                        <div class="textos">
                            <table class="informacion">
                                <tr>
                                    <div class="nombre">Feria Proyecto de aula V.2</div>
                                </tr>
                                <tr>
                                    <td>Fecha inicio:</td>
                                    <td class="fecha-inicio">10/0111/11000</td>

                                </tr>
                                <tr>
                                    <td>Fecha Final:</td>
                                    <td class="fecha-final">10/0111/11000</td>
                                </tr>
                                <tr class="fecha-limi">
                                    <td>Fecha Limite de inscripción:</td>
                                    <td class="fecha-limite">100/1010/1000</td>
                                </tr>
                            </table>
                        </div>
                        <div class="photo">
                            <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                        </div>
                        <div class="boton">
                            <button class="ver-evento">Ver ranking</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>

</html>