<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferias creadas</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/feriasCreadas.css" />
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h1 class="titulo">Ferias creadas</h1>
            <div class="ferias">
                <div class="cuadro">
                    <div class="top">
                        <img src="../img/img1.jpeg" alt="">
                    </div>
                    <div class="info">
                        <p>Feria de proyecto de aula.</p>
                        <div class="botones">
                            <button class="edit">Editar</button>
                            <button class="delete">Eliminar</button>
                            <button class="versiones">Versiones</button>
                        </div>
                    </div>
                </div>
                <div class="CrearEvento">
                    <button>Crea evento</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>