<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>

<body>
    <div class="navegacion-index-1">
        <nav class="nav-menu"> <!--Div de la barra de navegacion-->
            <a>Logo o nombre</a>
            <ul class="lista-nav">
                <li><a>Eventos</a></li>
                <li><a>Iniciar sesión</a></li>
                <li><a>Registrarme</a></li>
            </ul>
        </nav>
        <div class="contenido-navbar">
            <h1>FERIA DE PROYECTOS DE AULA</h1>
            <center>
                <hr>
            </center>
            <p>
                Descubre proyectos de aula que integran teoría y práctica para potenciar el
                aprendizaje real y significativo
            </p>
        </div>
    </div>
    <div class="elementos">
        <div class="elemento-item">
            <img src="../img/mapa.webp" alt="">
            <p>
                Explora proyectos que desafían la creatividad y el ingenio de los estudiantes
            </p>
        </div>
        <div class="elemento-item">
            <img src="../img/6883567.png" alt="">
            <p>
                Los proyectos se evaluarán y los más destacados serán reconocidos por su 
                excelencia y originalidad
            </p>
        </div>
        <div class="elemento-item">
            <img src="../img/488004.png" alt="">
            <p>
                Los estudiantes están invitados a participar y compartir sus proyectos más
                innovadores 
            </p>
        </div>
    </div>
</body>

</html>