<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver eventos</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <div class="ventanita-inicio-sesion ventana-emergente">
                <p>Ha iniciado sesion correctamente</p>
                <a id="equis" href="#" style='text-decoration:none; color: white;'>x</a>
            </div>
        </div>
    </div>
    <script>
        const container = document.getElementById('contenedor');
        const quitarVentana = document.getElementById('equis');

        quitarVentana.addEventListener('click', () => {
            container.classList.add("active");
        });
    </script>
</body>

</html>