<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>
<body class="cuerpo">
    <div class="contenedor" id="contenedor">
        <div class="form-contenedor sign-up">
            <form>
                <h1>Regístrate</h1>
                <span>Nombre</span>
                <input type="text">
                <span>Apellido</span>
                <input type="text">
                <span>Correo electrónico</span>
                <input type="email">
                <span>Contraseña</span>
                <input type="password">
                <button>Registrarme</button>
            </form>
        </div>
        <div class="form-contenedor sign-in">
            <form>
                <h1>Inicia sesión</h1>
                <span>Correo electrónico</span>
                <input type="email">
                <span>Contraseña</span>
                <input type="password">
                <button>Iniciar sesión</button>
            </form>
        </div>
        <div class="toggle-contenedor">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                  <h1>¡Bienvenido de nuevo!</h1>  
                  <p>Inicia sesión y accede a 
                    la feria de proyectos</p>
                    <button class="hidden" id="login">Iniciar sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¿Eres nuevo aquí?</h1>  
                    <p>Regístrate y continúa a la
                        feria de proyectos</p>
                      <button class="hidden" id="register">Registrarme</button>
                  </div>
            </div>
        </div>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>