<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>
<body class="cuerpo" id="cuerpo">
    <div class="menu" id="menu">
        <div class="user"> 
            <img class="imagen-user" src="../img/user.png" alt="eventos">
            <div class="datos-user">
                <a class="n-user">Nombre usuario</a>
                <a class="r-user">Rol usuario</a>
            </div>
        </div>
        <div clas="lista">
            <ul class="lista-principal" id="lista-close">
                <li class="elemento-1 elemento--click">
                    <div class="lista-item">
                        <div class="imagen-titulo">
                            <img class="imagen-item" src="../img/eventos.png" alt="eventos">
                            <a class="titulo-elemento-1">Eventos</a>
                        </div>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="elemento-2">Catálogo de eventos</li>
                        <li class="elemento-2">Eventos inscritos</li>
                        <li class="elemento-2">Eventos finalizados</li>
                        <li class="elemento-2">Eventos creados</li>
                    </ul>
                </li>
                <li class="elemento-1 elemento--click">
                    <div class="lista-item">
                        <div class="imagen-titulo">
                            <img class="imagen-item" src="../img/proyectos.png" alt="eventos">
                            <a class="titulo-elemento-1">Proyectos</a>
                        </div>                        
                        <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="elemento-2">Mis proyectos</li>
                        <li class="elemento-2">Calificar proyectos</li>
                    </ul>
                </li>
                <li class="elemento-1 elemento--click">
                    <div class="lista-item">
                        <div class="imagen-titulo">
                            <img class="imagen-item" src="../img/check.png" alt="eventos">
                            <a class="titulo-elemento-1">Calificaciones</a>
                        </div>
                        <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="elemento-2">Mis calificaciones</li>
                    </ul>
                </li>
                <li class="elemento-1 elemento--click">
                    <div class="lista-item">
                        <div class="imagen-titulo">
                            <img class="imagen-item" src="../img/win.png" alt="eventos">
                            <a class="titulo-elemento-1">Clasificación</a>
                        </div>                        
                        <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="elemento-2">Aprobar proyectos</li>
                    </ul>
                </li>
                <li class="elemento-1 elemento--click">
                    <div class="lista-item">
                        <div class="imagen-titulo">
                            <img class="imagen-item" src="../img/user.png" alt="eventos">
                            <a class="titulo-elemento-1">Gestión de usuarios</a>
                        </div>                        
                        <i class="fa-solid fa-angle-right list-arrow" style="color: black;"></i>
                    </div>
                    <ul class="lista-secundaria">
                        <li class="elemento-2">Usarios</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/menu.js"></script>
</body>
</html>