<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis calificaciones</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/misCalificaciones.css">
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="contenido">
            <h2 class="titulo">Mis calificaciones</h2>
            <div class="calificaciones-container">
                <table>
                    <thead>
                        <tr>
                            <th>Proyecto</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Proyecto 1</td>
                            <td>85</td>
                        </tr>
                        <tr>
                            <td>Proyecto 2</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Proyecto 3</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>Proyecto 4</td>
                            <td>No ha sido Calificado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/registro.js"></script>
    <script src="../js/menuInclude.js"></script>
</body>

</html>