<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver eventos</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>
<body>
    <nav class="navegacion-index-2"> <!--Div de la barra de navegacion-->
        <a>Logo o nombre</a>
        <div class="item-derecho">
            <a>Eventos</a>
            <a>Iniciar sesión</a>
            <a>Registrarme</a>
        </div> 
    </nav>
</body>
</html>