<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/43d3343120.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>

<body>
    <nav class="navegacion"> <!--Div de la barra de navegacion-->
        <div class="barra">
            <div class="icon-responsive">
                <i class="fa-solid fa-bars" id="btn-open" style="color: #ffffff;"></i>
            </div>
            <a>Logo o nombre</a>
        </div>
        <a href="login.html" target="_top">
            <img class="imagen-exit" src="../img/logout.png" alt="eventos">
        </a>
    </nav>
    <script src="../js/menu.js"></script>
</body>

</html>