<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Proyecto</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/registrarProyecto.css">
</head>
<body>
    <div class="contenedor">
        <div class="header"></div>
        <div class="menu"></div> 
            <div class="contenido">
                <form class="formulario" action="">
                    <h2 class="titulo">Registrar Proyecto</h2>
                    <div class="editarProyecto">
                        <div class="nombreProyecto">
                            <label for="nombreProyecto">Nombre del proyecto:</label>
                            <textarea name="nombreProyecto" id="nombreProyecto" required></textarea>
                        </div>
                        <div class="descripcion">
                            <label for="descripcion">Descripcion:</label>
                            <textarea name="descripcion" id="descripcion" required></textarea>
                        </div>
                        <div class="objetivo">
                            <label for="objetivo">Objetivo:</label>
                            <textarea name="objetivo" id="objetivo" required></textarea>
                        </div>
                        <div class="feriaInscrita">
                            <label for="feriaInscrita">Feria Inscrita:</label>
                            <input type="text" name="asignatura" id="asignatura" required>
                        </div>
                        <div class="areaEstudio">
                            <label for="areaEstudio">Áreas de estudio:</label>
                            <input type="text" name="areaEstudio" id="areaEstudio" required>
                        </div>
                        <div class="urlVideo">
                            <label for="url">URL video:</label>
                            <input type="text" name="url" id="url">
                        </div>
                        <div class="archivoProyecto">
                            <label for="archivo">Archivo proyecto:</label>
                            <input type="file" name="archivo" id="archivo" accept="image/*">
                        </div>
                        <div class="integrante">
                            <label for="integrantes">Integrantes:</label>
                            <input type="text" name="integrante" id="integrante">
                            <button class="eliminarIntegrante"><img src="../img/botonX.png" ></button><br>
                            <button class="btnIntegrantes" id="btnIntegrante">Añadir Integrante</button>
                        </div>
                        <div class="area">
                            <label for="area">Areas:</label>
                            <input type="text" name="area" id="area">
                            <button class="eliminarArea"> <img src="../img/botonX.png" ></button><br>
                            <button class="btnArea" id="btnArea">Añadir area</button>
                        </div>
                    </div>
                    <div class="botones">
                        <button id="cancelarBtn">Cancelar</button>
                        <button id="registrarBtn">Registrar</button>
                    </div>
                </form>
            </div>     
    </div>
    <script src="../js/registro.js"></script>
    <script src="../js/menuInclude.js"></script>
    <script>
        //Se verifica que la extensión sea correcta.
        document.getElementById('archivo').addEventListener('change', function(event) {
            const fileInput = event.target;
            const filePath = fileInput.value;
            const allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

            if (!allowedExtensions.exec(filePath)) {
                alert("Por favor, seleccione un archivo de imagen válido.");
                fileInput.value = '';
                return false;
            }
        });
    </script>
</body>
</html>