<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jurado</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/soyJurado.css" />
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="contenedor" id="contenedor">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="contenido">
            <h2 class="titulo">¿Dónde soy jurado?</h2>
            <h3 class="aviso">No es jurado en ninguna feria.</h3>
            
            <div class="pote1">
                <div class="rectangulo">
                    <div class="textos">
                        <table class="informacion">
                            <tr>
                                <div class="nombre">Feria Proyecto de aula V.2</div>
                            </tr>
                            <tr>
                                <td>Fecha inicio:</td>
                                <td class="fecha-inicio">10/0111/11000</td>

                            </tr>
                            <tr>
                                <td>Fecha Final:</td>
                                <td class="fecha-final">10/0111/11000</td>
                            </tr>       <tr class="fecha-limi"></tr>
                     
                                <td>Fecha Limite:</td>
                                <td class="fecha-limite">100/1010/1000</td>
                            </tr>
                        </table>
                    </div>
                    <div class="photo">
                        <img class="img" src="../img/presentacion.png" alt="Imagen pequeña">
                    </div>
                    <div class="boton">
                        <button class="ver-evento">Ver evento</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="../js/menuInclude.js"></script>
</body>

</html>