<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/verEventosIndex.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <title>Ver ferias</title>
</head>

<body>
    <div class="navegacion"></div>
    <div class="contenedor">
        <div class="busqueda">
            <img src="../img/search_47686.png" alt="">
            <input class="texto-buscar" type="text">
        </div>
        <h1 class="titulo">Ferias activas</h1>
        <div class="ferias">
            <div class="cuadro">
                <div class="imagen">
                    <img src="../img/img1.jpeg" alt="">
                </div>
                <div class="info-feria">
                    <h3>Feria de proyectos de aula v.2</h3>
                    <button class="boton-ver-feria">Ver feria</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/nav-index.js"></script>
</body>

</html>