<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link rel="stylesheet" href="../css/verFerias.css">
    <title>Document</title>
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <div class="mostrar">
                <h1>Investigación y aprendizaje</h1>
                <p>¡Bienvenidos a nuestra Feria de Investigación y aprendizaje! Aquí, nuestros estudiantes
                    universitarios muestran los frutos de su labor investigativa en diversas áreas del conocimiento.
                    Desde proyectos experimentales hasta análisis teóricos, esta feria es un espacio para compartir
                    descubrimientos y fomentar el pensamiento crítico. Únete a nosotros para explorar el talento
                    emergente y las ideas innovadoras que están dando forma al futuro de la investigación. ¡Te esperamos
                    para inspirarte y aprender juntos!</p>
                <div class="informacion">
                    <div class="item">
                        <p>Fecha inicio:</p>
                        <p>17/03/2024</p>
                    </div>
                    <div class="item">
                        <p>Fecha fin:</p>
                        <p>10/05/2024</p>
                    </div>
                    <div class="item">
                        <p>Fecha límite de inscripción:</p>
                        <p>28/04/2024</p>
                    </div>
                </div>
                <button>Registrar proyecto</button>
            </div>
        </div>
    </div>
</body>

</html>