<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver feria</title>
    <link rel="stylesheet" href="../css/cuadricula.css">
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
    <link rel="stylesheet" href="../css/verInfoPoryectos.css">
</head>

<body>
    <div class="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <div class="contenido-proyecto">
                <div class="nombre-proyecto">
                    <h2>Feria de proyectos de aula v.2</h2>
                </div>
                <div class="descripcion-proyecto">
                    <p>¡Bienvenidos a nuestra Feria de Proyectos de Aula! Aquí, nuestros brillantes estudiantes
                        universitarios exhiben sus proyectos desarrollados en diversas materias. Desde innovadoras
                        soluciones tecnológicas hasta investigaciones punteras, esta feria es un escaparate de
                        creatividad y conocimiento. Únete a nosotros para explorar el ingenio y el esfuerzo de nuestros
                        futuros líderes en un ambiente de aprendizaje dinámico e inspirador. ¡No te lo pierdas!</p>
                </div>
                <div class="tabla-informacion">
                    <table class="tabla">
                        <tr class="fila">
                            <td class="columna-item">Tipo:</td>
                            <td class="columna-desc">Proyectos de aula</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Fecha inicio:</td>
                            <td class="columna-desc">19/03/2024</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Fecha fin:</td>
                            <td class="columna-desc">19/05/2024</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Fecha límite de inscripción:</td>
                            <td class="columna-desc">8/05/2024</td>
                        </tr>
                    </table>
                </div>
                <div class="calificar">
                    <div class="boton-registrar">
                        Registrar Poryecto
                    </div>
                </div>
                <div class="proyecto">
                    <h2>Proyectos</h2>
                </div>
                <center>
                    <hr>
                </center>
                <div class="no-hay-proyectos">
                    <h3>No se han registrado proyectos</h3>
                </div>
                <div class="proyectos">
                    <div class="cuadro">
                        <div class="cua">
                            <img class="icon" src="../img/proyectt.png">
                            <div class="txt">
                                Driven
                                Learning: an experience of
                                colaboration University
                                and Secundary Schooll</div>
                        </div>
                        <div class="botones">
                            <button class="boton-ver-proyecto">Ver proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/modal-2.js"></script>
</body>

</html>