<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/verInfoIndex.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <title>Ver proyectos</title>
</head>

<body>
    <div class="navegacion"></div>
    <div class="contenedor">
        <div class="cuadro">
            <div class="contenido-cuadro">
                <div class="nombre-proyecto">
                    <h1>Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para inmigrantes
                        venezolanos
                        en la ciudad de Cúcuta</h1>
                </div>
                <div class="descripcion-proyecto">
                    <p>La Plataforma Laboral Icarus es una aplicación web dedicada a facilitar la búsqueda de empleo
                        para
                        inmigrantes venezolanos en Cúcuta. Ofrece una interfaz intuitiva para explorar oportunidades
                        laborales, recursos de adaptación cultural y lingüística, y conecta a empleadores locales con
                        candidatos cualificados, promoviendo así la integración y el desarrollo económico en la región.
                    </p>
                </div>
                <div class="tabla-informacion">
                    <table class="tabla">
                        <tr class="fila">
                            <td class="columna-item">Evento inscrito:</td>
                            <td class="columna-desc">Feria de proyectos de Aula v.2</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Áreas de estudio:</td>
                            <td class="columna-desc">Razonamiento cognitivo, aprendizaje, challenge</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">URL video:</td>
                            <td class="columna-desc">No posee</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Archivo proyecto:</td>
                            <td class="columna-desc">
                                <div class="boton-doc">
                                    Ver
                                </div>
                            </td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Integrantes:</td>
                            <td class="columna-desc">Deisy Maria Gonzales</td>
                        </tr>
                        <tr class="fila">
                            <td class="columna-item">Calificación:</td>
                            <td class="columna-desc">Este proyecto aun no ha sido calificado</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <h2>Aún no estás registrado :(</h2>
            <p>¡Inicia sesión para seguir viendo!</p>
            <div class="close">
                Iniciar sesion
            </div>
        </div>
    </div>
    <script src="../js/nav-index.js"></script>
    <script src="../js/modal.js"></script>
</body>

</html>