<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/verEventosIndex.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <title>Ver proyectos</title>
</head>

<body>
    <div class="navegacion"></div>
    <div class="contenedor">
        <div class="busqueda">
            <img src="../img/search_47686.png" alt="">
            <input class="texto-buscar" type="text">
        </div>
        <div class="contenedor-2">
            <div class="proyectos">
                <h1 class="titulo">Proyectos inscritos</h1>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="rectangulo">
                    <p class="texto">Plataforma Laboral Icarus: Aplicación web de gestión de bolsa de empleo para
                        inmigrantes
                        venezolanos en la ciudad de Cúcuta</p>
                </div>
                <div class="paginacion" id="paginacion"></div>
            </div>
            <div class="cuadro-descripcion">
                <div class="descripcion">
                    <div class="titulo-feria">
                        <h3>Feria de proyectos de aula v.2</h3>
                    </div>
                    <div class="descripcion-feria">
                        <p>¡Bienvenidos a nuestra Feria de Proyectos de Aula! Aquí, nuestros brillantes estudiantes
                            universitarios exhiben sus proyectos desarrollados en diversas materias. Desde innovadoras
                            soluciones tecnológicas hasta investigaciones punteras, esta feria es un escaparate de
                            creatividad y conocimiento. Únete a nosotros para explorar el ingenio y el esfuerzo de
                            nuestros futuros líderes en un ambiente de aprendizaje dinámico e inspirador. ¡No te lo
                            pierdas!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/nav-index.js"></script>
    <script src="../js/paginacionIndex.js"></script>
</body>

</html>