<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Versión eventos creados</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/EventosCreados.css" />
</head>

<body>
    <div class="contenedor" id="contenedor">
        <iframe class="header" src="../views/navbar.html"></iframe>
        <iframe class="menu" src="../views/menu.html"></iframe>
        <div class="contenido">
            <h2 class="titulo">Versiones de eventos creados</h2>
            <div class="contenedorCua">
                <div class="cuadro">
                    <div class="textos">
                        <h2>Feria de proyecto de aula V.2</h2>
                        <p>
                            Tipo: Proyectos de aula<br>
                            Fecha inicio: 19/03/2024<br>
                            Fecha fin: 19/05/2024<br>
                            Fecha limite de inscripción 8/05/2024<br>
                        </p>
                    </div>   
                    <img class="fotito" src="../img/presentacion.png" alt="Imagen pequeña">
                    <div class="botones">
                        <button class="editar">Editar</button>
                        <button class="eliminar">Eliminar</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>








</body>

</html>