<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ver proyectos</title>
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cuadricula.css" />
    <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet" />
    <link rel="stylesheet" href="../css/viewProyect.css" />
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <div class="contenedor" id="contenedor">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="contenido">
            <h2 class="titulo">Mis proyectos</h2>
            <h3 class="actuales">Actuales</h3>
            <hr class="linea">
            <div class="noProyect">
                <h3 class="testo">No hay proyectos recientes.</h3>
            </div>
            <div class="siProyect">
                <div class="cuadro">
                    <div class="cua">
                        <img class="icon" src="../img/proyectt.png">
                        <div class="txt">
                            Driven
                            Learning: an experience of
                            colaboration University
                            and Secundary Schooll</div>
                    </div>
                    <div class="botones">
                        <button class="eliminar">Eliminar</button>
                        <button class="editar">Editar</button>
                    </div>
                </div>
                <div class="cuadro">
                    <div class="cua">
                        <img class="icon" src="../img/proyectt.png">
                        <div class="txt">
                            Driven
                            Learning: an experience of
                            colaboration University
                            and Secundary Schooll</div>
                    </div>
                    <div class="botones">
                        <button class="eliminar">Eliminar</button>
                        <button class="editar">Editar</button>
                    </div>
                </div>
            </div>
            <h3 class="pasados">Pasados</h3>
            <hr class="linea">
            <div class="noProyect">
                <h3 class="testo">No hay proyectos pasados.</h3>
            </div>
            <div class="siProyect">
                <div class="cuadro">
                    <div class="cua">
                        <img class="icon" src="../img/proyectt.png">
                        <div class="txt">
                            Altos niveles
                            contaminantes en el agua del río Pamplonita
                        </div>
                    </div>
                    <div class="botones">
                        <div class="calificacion">Calificación: 75</div>
                        <div class="txt">
                            <button class="verProyecto">Ver proyecto</button>
                        </div>
                    </div>
                </div>
                <div class="cuadro">
                    <div class="cua">
                        <img class="icon" src="../img/proyectt.png">
                        <div class="txt">
                            Altos niveles
                            contaminantes en el agua del río Pamplonita
                        </div>
                    </div>
                    <div class="botones">
                        <div class="calificacion">Calificación: 75</div>
                        <div class="txt">
                            <button class="verProyecto">Ver proyecto</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="../js/menuInclude.js"></script>
</body>

</html>